In [1]:
import pandas as pd
import numpy as np
import math

## Calculating Standard Deviation and Standard Error by (kind of) hand

In [2]:
ex_array = [3,5,7,7,2,7,58]

In [3]:
def stdv(numbers):
    diffs = 0
    avg = sum(numbers)/len(numbers)
    for n in numbers:
        diffs += (n-avg)**(2)
    variance = (diffs/(len(numbers)-1))
    return variance ** (0.5)

In [2]:
ex_array = [3,5,7,7,2,7,58]

In [3]:
np.std(ex_array, ddof=1) / np.sqrt(len(ex_array))

7.586687230224514

In [4]:
def standard_error(array):
    return np.std(array, ddof=1) / (len(array)**0.5)

In [6]:
standard_error([2786, 87237365, 27346])

29074100.53111532

In [5]:
# Using our functions:
print(standard_error(ex_array))

# Using an already established one:
from scipy import stats
print(stats.sem(ex_array))

7.586687230224514
7.586687230224514

In [ ]:
def standard_error(array):
    return stdv(array) / (len(array)**(0.5))

In [2]:
stock = {
    'banana':6,
    'apple':0,
    'orange': 32,
    'pear': 15
}

In [3]:
stock['apple'] - 1

-1

In [32]:
stock['apple'] = stock['apple'] -1

In [33]:
stock

{'apple': -1, 'banana': 6, 'orange': 32, 'pear': 15}

In [4]:
prices = {
    'banana': 4,
    'apple': 2,
    'orange': 1.5,
    'pear': 3
}

In [5]:
prices['orange']

1.5

In [19]:
prices['apple'] + prices['pear']

5

In [18]:
def compute_bill(list_of_food):
    '''
    This function takes in a list of food and adds up their value and returns total.
    '''
    total = 0
    for item in list_of_food:
        total += prices[item]
    return total

In [20]:
compute_bill(['banana'])

4

In [21]:
compute_bill(list_of_food=['banana'])

4

In [23]:
total = 0
for item in ['apple', 'orange', 'banana']:
    total += prices[item]
total

7.5

In [19]:
compute_bill(list_of_food= ['apple', 'orange'])

3.5

In [24]:
def compute_bill(food):
    total = 0
    for item in food:
        if stock[item] > 0:
            total += prices[item]
            stock[item] = stock[item] - 1
    return total

In [25]:
stock

{'apple': 0, 'banana': 6, 'orange': 32, 'pear': 15}

In [26]:
compute_bill(['banana', 'pear', 'orange'])

8.5

In [27]:
stock

{'apple': 0, 'banana': 5, 'orange': 31, 'pear': 14}

In [28]:
compute_bill(['banana', 'banana', 'banana'])

12

In [29]:
stock

{'apple': 0, 'banana': 2, 'orange': 31, 'pear': 14}

In [35]:
order = ['orange'] * 30

In [36]:
compute_bill(order)

45.0

In [37]:
stock

{'apple': 0, 'banana': 2, 'orange': 1, 'pear': 14}

In [1]:
string = '''
Record: 48-34, 4th in NBA Western Conference
Last Game: L 91-96 at UTA
Coach: Billy Donovan (48-34)
Executive: Sam Presti
PTS/G: 107.9 (12th of 30) Opp PTS/G: 104.4 (10th of 30)
SRS: 3.42 (6th of 30) Pace: 96.7 (17th of 30)
Off Rtg: 110.7 (7th of 30) Def Rtg: 107.2 (9th of 30)
Expected W-L: 50-32 (7th of 30)
Denver:

Record: 46-36, 9th in NBA Western Conference
Last Game: L 106-112 at MIN
Coach: Mike Malone (46-36)
Executive: Tim Connelly
PTS/G: 110.0 (6th of 30) Opp PTS/G: 108.5 (22nd of 30)
SRS: 1.57 (11th of 30) Pace: 96.8 (16th of 30)
Off Rtg: 112.5 (6th of 30) Def Rtg: 110.9 (25th of 30)
Expected W-L: 45-37 (11th of 30)
Golden State:

Record: 58-24, 2nd in NBA Western Conference
Last Game: L 92-95 vs. HOU
Next Game: Thursday, May. 24 at HOU
Coach: Steve Kerr (58-24)
Executive: Bob Myers
PTS/G: 113.5 (1st of 30) Opp PTS/G: 107.5 (18th of 30)
SRS: 5.79 (3rd of 30) Pace: 99.6 (5th of 30)
Off Rtg: 113.6 (3rd of 30) Def Rtg: 107.7 (11th of 30)
L.A.:

Record: 35-47, 11th in NBA Western Conference
Last Game: W 115-100 at LAC
Coach: Luke Walton (35-47)
Executive: Magic Johnson
PTS/G: 108.1 (11th of 30) Opp PTS/G: 109.6 (25th of 30)
SRS: -1.44 (21st of 30) Pace: 100.3 (2nd of 30)
Off Rtg: 106.5 (23rd of 30) Def Rtg: 108.0 (12th of 30)
Expected W-L: 37-45 (21st of 30)'''

In [2]:
import re

In [5]:
execs = re.findall(r'Executive: (.+)', string)
execs

['Sam Presti', 'Tim Connelly', 'Bob Myers', 'Magic Johnson']

In [4]:
def countSteps(N):
    # just as in our solution explanation above, we know that to climb 1 step
    # there is only 1 solution, and for 2 steps there are 2 solutions
    if N == 1:
        return 1
    if N == 2:
        return 2

    # for all N > 2, we add the previous (N - 1) + (N - 2) steps to get
    # an answer recursively
    return countSteps(N - 1) + countSteps(N - 2)

# the solution for N = 6 will recursively be solved by calculating
# the solution for N = 5, N = 4, N = 3, and N = 2 which we know is 2.
print(countSteps(6))

13

In [15]:
def is_anagram(str1, str2):
    if str1 == str2:
        return False
    elif sorted(list(str1)) == sorted(list(str2)):
        return True

def anagram_finder(array):
    anagrams = []
    for word1 in array:
        for word2 in array:
            if is_anagram(word1, word2) == True:
                anagrams.append(word1)
    return list(set(anagrams))

anagram_finder(['dog', 'cat', 'act', 'stare', 'stear'])

In [3]:
def divisibility(num, check):
    if num % check == 0:
        return "Check divides evenly into number."
    else:
        return "Check doesn't divide evenly into number. Try again!"

In [6]:
divisibility(144, 3)

'Check divides evenly into number.'

In [8]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
def list_checker(array, number):
    return [x for x in array if x < number]
list_checker(a, 21)

[1, 1, 2, 3, 5, 8, 13]

In [15]:
def divisor_check(number):
    return [x for x in range(1, number) if number % x ==0]
divisor_check(133)

[1, 7, 19]

In [18]:
def palindromer(word):
    return word == word[::-1]
palindromer('banana')

False

In [23]:
if __name__ == '__main__':
    n = int(input())

# print(list(range(1,n+1)))
my_lst = list(range(1,n+1))
print(''.join(map(str, my_lst)))

5
12345

In [2]:
def word_reverser(sentence):
    new_sentence = sentence.split(' ')
    return new_sentence[::-1]

word_reverser("wow look at that wow")

['wow', 'that', 'at', 'look', 'wow']

In [ ]:
def modes(data):
    
    for individual in data: